#banner {
    position: fixed;
    background-color: #272626;
    z-index: 10;
    height: 100px;
    width: 100%;
    top: 0px;
    left: 0px;
    min-width: 876px;
}

#title {
    position: relative;
    display: inline;
    z-index: 5;
    top: 60px;
    left: 5px;
    color: black;
    transition: color 1s ease;
    animation-name: header_pulse;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.66s;
    animation-delay: 0.5s;
}

#title:hover {
    color: white;
}

#headline {
    position: relative;
    display: inline;
    z-index: 5;
    top: 60px;
    left: 10px;
    color: #272626;
    transition: color 1.5s ease;
    animation-name: headline_pulse;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

#headline2 {
    position: relative;
    display: inline;
    z-index: 5;
    top: 60px;
    left: 10px;
    color: #272626;
    transition: color 2s ease;
    animation-name: headline_pulse;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2.33s;
    animation-delay: 0.5s;
}

#headline3 {
    position: relative;
    display: inline;
    z-index: 5;
    top: 60px;
    left: 10px;
    color: #272626;
    transition: color 2.5s ease;
    animation-name: headline_pulse;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2.66s;
    animation-delay: 0.5s;
}

#title:hover + #headline{
    color: white;
}

#title:hover + #headline + #headline2 {
    color: white;
}

#title:hover + #headline + #headline2 + #headline3 {
    color: white;
}

#navbar {
    position: absolute;
    background-color: #0d0d0d;
    height: 30px;
    width: 100%;
    bottom: -30px;
    left: 0px;
}

.navitm_mask {
    float: left;
    position: relative;
    background-color: #5a5858;
    height: 30px;
    width: 150px;
    transition: all .25s ease;
}

.navitm_mask:hover {
    background-color: #817e7e;    
}

.navitm {
    float: left;
    position: relative;
    background-color: #5a5858;
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 0px;
    transition: all .25s ease;
    overflow: hidden;
    color: black;
}

.navitm:hover {
    background-color: #817e7e;
}

.navlink {
    display: block;
    width: 150px;
    height: 30px;
    text-decoration: none;
    font-family: sans;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 5px;
    padding: 0;
    margin: 0;
    color: black;
    transition: all .25s ease;
}

.navlink:link {
    color: black;
}

.navlink:visited {
    color: black;
}

.navlink:hover {
    color: white;
}

.navmnu {
    position: relative;
}

.navmnuitm {
    text-align: center;
    font-family: sans;
    font-size: 14px;
    display: block;
    width: 150px;
    border-bottom: 1px dashed black;
    padding-bottom: 3px;
    padding-top: 3px;
    color: black;
    transition: all .25s ease;
    text-decoration: none;
}

.navmnuitm:hover{
    color: white;
}

.navmnuitm:last-child {
    border-bottom: none;
    padding-bottom: 0;
}


/*===KeyFrames===*/


@keyframes header_pulse {
    0% {
	color: black;
    }
    33% {
	color: white;
    }
    100% {
	color: black;
    }
}

@keyframes headline_pulse {
    0% {
    color: #272626;
    }
    33% {
    color: white;
    }
    100% {
    color: #272626;
    }
}
