/* {
    border: 1px dotted yellow;
}*/

body {
    position: absolute;
    overflow: scroll;
    background-color: #403f3f;
    width: 100%;
    min-width: 876px;
    margin: 0;
    padding: 0;
}

#banner {
    position: fixed;
    background-color: #272626;
    z-index: 10;
    height: 100px;
    width: 100%;
    top: 0px;
    left: 0px;
    min-width: 876px;
}

#title {
    position: relative;
    display: inline;
    z-index: 5;
    top: 60px;
    left: 5px;
    color: black;
    transition: color 1s ease;
    animation-name: header_pulse;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.66s;
    animation-delay: 0.5s;
}

#title:hover {
    color: white;
}

#headline {
    position: relative;
    display: inline;
    z-index: 5;
    top: 60px;
    left: 10px;
    color: #272626;
    transition: color 1.5s ease;
    animation-name: headline_pulse;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

#headline2 {
    position: relative;
    display: inline;
    z-index: 5;
    top: 60px;
    left: 10px;
    color: #272626;
    transition: color 2s ease;
    animation-name: headline_pulse;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2.33s;
    animation-delay: 0.5s;
}

#headline3 {
    position: relative;
    display: inline;
    z-index: 5;
    top: 60px;
    left: 10px;
    color: #272626;
    transition: color 2.5s ease;
    animation-name: headline_pulse;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2.66s;
    animation-delay: 0.5s;
}

#title:hover + #headline{
    color: white;
}

#title:hover + #headline + #headline2 {
    color: white;
}

#title:hover + #headline + #headline2 + #headline3 {
    color: white;
}

#navbar {
    position: relative;
    background-color: #0d0d0d;
    height: 30px;
    width: 100%;
    top: 62px;
    left: 0px;
}

.navlink {
    position: relative;
    float: left;
}

.navlink:link {
    color: black;
}

.navlink:visited {
    color: black;
}

.navitm_mask {
    position: relative;
    background-color: #5a5858;
    height: 30px;
    width: 150px;
    transition: all .25s ease;
}

.navitm_mask:hover {
    background-color: #817e7e;    
}

.navitm {
    position: absolute;
    background-color: #5a5858;
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    transition: all .25s ease;
}

.navitm_mask:hover > .navitm {
    background-color: #817e7e;
    color: white;
}

.navitm_mask:hover > .navmnu {
    background-color: #817e7e;
    color: white;
    height: 150px;
}

.navitm p {
    position: absolute;
    height: 30px;
    width: 150px;
    font-family: sans;
    font-weight: bold;
    top: -10px;
}

.navmnu {
    overflow: hidden;
}

.navmnu > ul {
    list-style: none;
}

.navmnuitm {
    position: relative;
    color: black;
    top: 30px;
    height: 20px;
    width: 100%;
    border-bottom: 1px dashed black;
}

.navmnuitm:hover {
    color: white;
    background-color: #817e7e;
}

.circle_image {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: 3px solid black;
}

#profile_inner {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    height: 90px;
    width: 90px;
    right: 25px;
    top: 25px;
    border: 5px solid #0d0d0d;
    border-radius: 100%;
}

#prof_back {
    position: absolute;
    background-color: #0d0d0d;
    height: 50px;
    width: 100px;
    right: 25px;
    top: 79px;
}

#prof_topper {
    position: relative;
    right: 0px;
}

#switch {
    position: absolute;
    z-index: 5;    
    height: 5px;
    width: 5px;
    border-right: 2px solid green;
    border-radius: 100%;
    background-color: white;
    right: 35px;
    top: 110px;
}

.stand {
    position: absolute;
    z-index: 3;
    border-bottom: 10px solid #0d0d0d;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 10px;
}

#stnd_top {
    top: 18px;
    right: 66px;
}

#stnd_top_rgt {
    top: 33px;
    right: 27px;
    transform: rotateZ(45deg);
}

#stnd_rgt {
    top: 68px;
    right: 12px;
    transform: rotateZ(90deg);
}

#stnd_lft {
    top: 68px;
    right: 118px;
    transform: rotateZ(-90deg);
}

#stnd_top_lft {
    top: 33px;
    right: 103px;
    transform: rotateZ(-45deg);
}

.light {
    position: absolute;
    z-index: 2;
    height: 14px;
    width: 14px;
    border: 1px solid #0d0d0d;
    border-radius: 100%;
}

#light_top {
    top: 5px;
    right: 68px;
    transition: background-color 1s ease;
}

#light_top_rgt {
    height: 11px;
    width: 11px;
    top: 25px;
    right: 24px;
    transform: rotateZ(45deg);
    transition: background-color 1.66s ease;    
}

#light_rgt {
    top: 65px;
    right: 3px;
    transform: rotateZ(90deg);
    transition: background-color 2.33s ease;    
}

#light_lft {
    top: 65px;
    right: 131px;
    transform: rotateZ(-90deg);
    transition: background-color 2.33s ease;    
}

#light_top_lft {
    height: 11px;
    width: 11px;    
    top: 25px;
    right: 113px;
    transform: rotateZ(-45deg);
    transition: background-color 1.66s ease;    
}

#prof_img_front {
    height: 90px;
    position: absolute;
}

#prof_img_in {
    position: absolute;
    z-index: 1;
    height: 90px;
    top: 80px;
    border-radius: 100%;
    transition: all .5s ease;
    animation-name: prof_img_link_bot;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: .5s;
    animation-delay: 2.5s;
}

#prof_img_gh {
    position: absolute;
    z-index: 1;
    height: 90px;
    left: -80px;
    border-radius: 100%;
    transition: all .5s ease;
    animation-name: prof_img_link_lft;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: .5s;
    animation-delay: 3s;
    
}

#prof_img_so {
    position: absolute;
    z-index: 1;
    height: 90px;
    left: 80px;    
    border-radius: 100%;
    transition: all .5s ease;
    animation-name: prof_img_link_rgt;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: .5s;
    animation-delay: 3.5s;
}

#page {
    position: relative;
    height: 100%;
    min-height: 1000px;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0d0d0d;
    
}

#page_inner {
    position: relative;
    height: 100%;
    min-height: 1000px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #262626;
    
}

#spacer {
    position: relative;
    height: 150px;
    width:100%; 
}

.post {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 660px;
}

.title {
    position: relative;
    background-color: #5a5858;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    color: black;
    transition: color 1s ease;
}

.title:hover{
    color: white;
}

.title > p{
    position: relative;
    bottom:1px;
    font-family: sans;
    font-weight: bold;
}

.content{
    height:0px;
    overflow: hidden;
    position: relative;
    background-color: #5a5858;
    color: #5a5858;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    top: 5px;

    margin-bottom: 20px;
    transition: all 1s ease;
}

.content > p {
    position: relative;
    font-family: sans;
    top: -15px;
}

#footer {
    position: relative;
    z-index: 5;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-color: #272626;
    border-top: 3px solid black;
}

/*=====================*/



@keyframes header_pulse {
    0% {
	color: black;
    }
    33% {
	color: white;
    }
    100% {
	color: black;
    }
}

@keyframes headline_pulse {
    0% {
    color: #272626;
    }
    33% {
    color: white;
    }
    100% {
    color: #272626;
    }
}

@keyframes profile_image {
    0% {
	right: -100px;
	opacity: 0;
    }
    100% {
	right: 25px;
	opacity: 1;
    }
}

@keyframes prof_img_link_bot {
    0% {
	z-index: 2;
	top: 80px;
    }
    50% {
	top: 0px;
    }
    99% {
	z-index: 2;
    }
    100% {
	z-index: 1;
	top: 80px;
    }
}

@keyframes prof_img_link_lft {
    0% {
	z-index: 2;
	left: -80px;
    }
    50% {
	background-color: white;
	left: 0px;
    }
    99% {
	z-index: 2;
    }
    100% {
	z-index: 1;
	left: -80px;
    }
}

@keyframes prof_img_link_rgt {
    0% {
	z-index: 2;
	left: 80px;
    }
    50% {
	left: 0px;
    }
    99% {
	z-index: 2;
    }
    100% {
	z-index: 1;
	left: 80px;
    }
}

@media only screen and (max-device-width: 480px) {
    body {
	min-width: 300px;
	width: 480px;
	height: 200px;
	overflow: auto;
    }

    #banner {
	height: 60px;
    }
    
    #navbar {
	position: fixed;
	overflow: visible;
	top: 60px;
	width: 80px;
	height: 100%;
    }

    .navitm_mask {
	position: relative;
	top: 15px;
	height: 20px;
	width: 80px;
    }
    
    .navitm {
	display: inline;
	font-size: 0.75em;
	text-align: left;
    }

    .navitm p {
	
    }

    .circle_image {
	width: 60px;
	height: 60px;
    }
    
    #profile_image {
	top: 5px;
	left: 5px;
	position: absolute;
    }
}